
*{
    margin: 0px;
}
h1{
    color:#1B7092;
    font-family:Avenir Next;
    font-size:35px;
    margin-left:10px;
}
h2{
    color:rgb(116, 116, 116);
    font-family:Avenir Next;
}
h3{
    background-color:#1B7092;
    color:white;
    border-radius:50px;
    padding:10px;
    margin-left:20px;
    font-family:Avenir Next;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:15px;
    background-color: rgb(255, 255, 255);
}
.nav-left, .nav-right{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}
.s1{
    height:60px;
}
.s2{
    height:80px;
    align-items:center;
    justify-content: center;
    margin-left:600px;
    margin-top:100px;
}
.blue{
    background-color:#A9D1E2;
    width:1350px;
    height:600px;
}
.white{
    background-color:white;
    width:200px;
    height:200px;
    border-radius:30px;
    margin-left:450px;
    padding:100px;
    margin-top: -50px;
}
.small-blue{
    background-color:#A9D1E2;
    width:300px;
    height:40px;
    margin-bottom:20px;
    border-radius:0px 0px 20px 20px;
}
h4{
    color:white;
    background-color:#7bb3cb;
    width:60px;
    border-radius:0px 10px 0px 0px;
    padding:3px;
}

h5{
    color:white;
    background-color:#7bb3cb;
    width:70px;
    border-radius:0px 10px 0px 0px;
    padding:3px;
}
.small-white{
    margin-left:-50px;
}



.s3{
    margin-right:10px;
    height:50px;
}
.Schedule{
    display:flex;
    flex-direction: row;
}
h6{
    color:#1B7092;
    font-family:Avenir Next;
    font-size:25px;
    margin:20px;
}
.s-left{
    background-color: white;
    border-color:#1B7092;
    padding-left:20px;
    padding-right:50px;
    border-style:solid;
}
.s-leftbottom{
    display:flex;
    flex-direction:row;
    margin-top:50px;
}
.s4{
    height:30px;
    margin-top:20px;
}
h7{
    font-size:50px;
    color:white;
    font-family:Avenir Next;
    font-weight:bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left:370px;
}
.s-right{
    background-color: #7bb3cb;
    padding:20px;
}
h8{
    color:#1B7092;
    font-size:10px;
}
h9{
    color:#1B7092;
    font-family:Avenir Next;
    font-weight:bold;
    font-size:20px;
    text-align:center;
    align-items:center;
    justify-content: center;
}
.block{
    display:flex;
    flex-direction:row;
    text-align:center;
    margin-left:40px;
    margin-right:40px;
}
.block1{
    display:flex;
    flex-direction:column;
    background-color: white;
    padding:30px;
    width:100px;
    border-color: #1B7092;
    margin-bottom: 5px;
    height:75px;
}
.blocktimeM{
    color:white;
    background-color: #1B7092;
    font-weight: bold;
    width:160px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
}
.smallblock1{
    display:flex;
    flex-direction: column;
    margin:20px;
    background-color: #1B7092;
}


.Aflex{
    display:flex;
    flex-direction: row;
}
.left2{
    background-color: #091868;
    display:flex;
    flex-direction: column;
    padding:10px;
    height: 700px;
}
h10{
    color:white;
    margin:15px;
    margin-top:20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.navright2{
    display: flex;
    justify-content: space-between;
    padding:15px;
    background-color: #FFC83B;
    width:1020px;
}
.nav-left2, .nav-right2{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}
h11{
    font-size:40px;
    margin:20px;
}
.right2bottom{
    background-color: #054CBF;
    padding-top:60px;
    padding-left:60px;
    padding-bottom:60px;
    display: flex;
    flex-direction: row;
}
.assigmentsflex, .attendenceflex{
    display:flex;
    flex-direction: row;
}
h12{
    color:white;
    font-size:30px;
    margin-left:20px;
}
.assigmentsflexleft, .assigmentsflexright, .attendenceflexleft{
    display:flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}
.assigmentsflexleftright{
    display:flex;
    flex-direction: row;
    text-align: left;
}
.attendenceflexright{
    display:flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}
.assigmentsflexright, .attendenceflexright{
    padding-left:50px;
}
.A2{
    height:30px;
    margin-left:10px;
}
.seemore{
    float:right;
    color:white;
    text-decoration: underline;
    padding-right:100px;
}
.gradeB{
    background-color: #091868;
    color:white;
    font-weight: bold;
    width:300px;
    height:300px;
    border-radius: 50px;
    font-size: 200px;
    padding-left:30px;
    margin-top:50px;
}
.email{
    display:flex;
    flex-direction: row;
    color:white;
    background-color: #091868;
    border-radius: 40px;
    margin-top:40px;
    padding:20px;
    font-size:20px;
    padding-left:30px;
    padding-right:30px;
    width:270px;
}
.mailimg{
    width:40px;
    height:30px;
    padding-right:20px;
}
.right2bottomright{
    margin-left:100px;
}
.attendence{
    margin-top:50px;
}
.attendenceflexleftright{
    display:flex;
    flex-direction: row;
}
.right2bottomrightright{
    background-color: #091868;
    width:38px;
    height:150px;
    margin-left:120px;
    margin-top:150px;
}
.arrow{
    width:17px;
    padding-left:10px;
    padding-right:15px;
    padding-top:70px;
}
.right2bottomleft{
    width:400px;
}
.logo{
    margin-top:20px;
    width:200px;
}


.right3bottom{
    background-color: #054CBF;
    width:1200px;
    display: flex;
    flex-direction: row;
    height:650px;
}
.navright3{
    background-color: #FFC83B;
    display:flex;
    flex-direction: row;
}
.right3{
    display: flex;
    flex-direction: column;
}
.A3flex{
    display: flex;
    flex-direction: row;
}
.imgname{
    display:flex;
    flex-direction: row;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:50px;
}
.imghead{
    width:40px;
    height:40px;
}
.right3bottomleft{
    display:flex;
    flex-direction:column;
    margin-top:50px;
    width:350px;
}
h12{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nav-right3{
    margin-right:900px;
    margin-top:10px;
}
.A4{
    width:f0px;
    height:30px;
}
.imgname1{
    display:flex;
    flex-direction: row;
    margin-top:15px;
    padding:20px;
    border-color: #091868;
    border-style: solid;
}
.chat{
    border-color: #091868;
    border-style: solid;
    width:800px;
    height: 500px;
}
.smallchatleft{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    justify-content: flex-start;
    margin-left:10px;
}
.smallchatright{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    justify-content: flex-end;
    margin-right:10px;
}
.imgapple{
    background-color: white;
    border-radius: 1000px;
    width:40px;
    height:40px;
    align-content: center;
}
h13{
    margin-left:10px;
    margin-right:10px;
    color: white;
    background-color: #091868 ;
    border-radius: 20px;
    padding:20px;
}
.right3bottomrightright{
    background-color: #091868;
    width:38px;
    height:150px;
    margin-left:50px;
    margin-top:150px;
}
.flex{
    display:flex;
    flex-direction: row;
    margin-top:30px;
}
.icon{
    padding:10px;
    width:30px;
    padding-right:30px;
}
h14{
    background-color:#091868 ;
    border-radius: 30px;
    color:#054CBF;
    width:500px;
    height:40px;
    font-size: 35px;
    padding:5px;
    padding-left:15px;
}
.smallchatleft1{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    justify-content: flex-start;
    margin-left:50px;
}