
*{
    margin: 0px;
}
h1{
    color:#1B7092;
    font-family:Avenir Next;
    font-size:35px;
    margin-left:10px;
}
h2{
    color:rgb(116, 116, 116);
    font-family:Avenir Next;
}
h3{
    background-color:#1B7092;
    color:white;
    border-radius:50px;
    padding:10px;
    margin-left:20px;
    font-family:Avenir Next;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:15px;
    background-color: rgb(255, 255, 255);
}
.nav-left, .nav-right{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}
.s1{
    height:60px;
}
.s2{
    height:80px;
    align-items:center;
    justify-content: center;
    margin-left:600px;
    margin-top:100px;
}
.blue{
    background-color:#A9D1E2;
    width:1350px;
    height:600px;
}
.white{
    background-color:white;
    width:200px;
    height:200px;
    border-radius:30px;
    margin-left:450px;
    padding:100px;
    margin-top: -50px;
}
.small-blue{
    background-color:#A9D1E2;
    width:300px;
    height:40px;
    margin-bottom:20px;
    border-radius:0px 0px 20px 20px;
}
h4{
    color:white;
    background-color:#7bb3cb;
    width:60px;
    border-radius:0px 10px 0px 0px;
    padding:3px;
}

h5{
    color:white;
    background-color:#7bb3cb;
    width:70px;
    border-radius:0px 10px 0px 0px;
    padding:3px;
}
.small-white{
    margin-left:-50px;
}



.s3{
    margin-right:10px;
    height:50px;
}
.Schedule{
    display:flex;
    flex-direction: row;
}
h6{
    color:#1B7092;
    font-family:Avenir Next;
    font-size:25px;
    margin:20px;
}
.s-left{
    background-color: white;
    border-color:#1B7092;
    padding-left:20px;
    padding-right:50px;
    border-style:solid;
}
.s-leftbottom{
    display:flex;
    flex-direction:row;
    margin-top:50px;
}
.s4{
    height:30px;
    margin-top:20px;
}
h7{
    font-size:50px;
    color:white;
    font-family:Avenir Next;
    font-weight:bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left:370px;
}
.s-right{
    background-color: #7bb3cb;
    padding:20px;
}
h8{
    color:#1B7092;
    font-size:10px;
}
h9{
    color:#1B7092;
    font-family:Avenir Next;
    font-weight:bold;
    font-size:20px;
    text-align:center;
    align-items:center;
    justify-content: center;
}
.block{
    display:flex;
    flex-direction:row;
    text-align:center;
    margin-left:40px;
    margin-right:40px;
}
.block1{
    display:flex;
    flex-direction:column;
    background-color: white;
    padding:30px;
    width:100px;
    border-color: #1B7092;
    margin-bottom: 5px;
    height:75px;
}
.blocktimeM{
    color:white;
    background-color: #1B7092;
    font-weight: bold;
    width:160px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
}
.smallblock1{
    display:flex;
    flex-direction: column;
    margin:20px;
    background-color: #1B7092;
}